html,
body {
  background: url("images/mars.jpeg") left bottom no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
  color: white;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

:root {
  --clr-light: #fff;
  --clr-accent: #d06d6d;
  --pad-normal: 50px;
  --pad-half: 25px;
  --margin-normal: 50px;
  --margin-small: 5px;
  --white-background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  --black-background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

p {
  margin: 0;
}

.header {
  font-weight: 500;
  font-size: 19px;
  padding-bottom: var(--pad-half);
  text-shadow: black 5px 0 10px;
  color: var(--clr-accent);
}

.corner-name {
  position: fixed;
  right: -9rem;
  bottom: -9rem;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: var(--white);
  ;
  width: 15rem;
  height: 15rem;
  text-align: center;
  z-index: 3;
  font-size: 1rem;
  color: black;
  opacity: 0.2;
  z-index: 4;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-accent);
  border-radius: 10px;
}

/* HOME */
.home-container {
  display: flex;
  flex-direction: row;
  margin: 80px var(--pad-normal);
  z-index: 1;
  /* background-color: pink; */
}

/* HOME WEATHER */
.weather-section {
  background: var(--white-background);
  padding: var(--pad-normal);
}

.weather-container {
  display: flex;
  flex-direction: row;
}

.divider {
  width: 5px;
  margin-left: var(--pad-normal);
  margin-right: var(--pad-normal);
  background-color: var(--clr-accent);
}

.open-modal-btn {
  border: none;
  background-color: transparent;
}

.close-modal-btn {
  background-color: var(--clr-accent);
  margin: 10px;
  border-radius: 10px;
  margin-left: 45%;
}

.unit {
  display: flex;
  justify-content: flex-end;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  place-self: end;
  color: var(--clr-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.7;
  -webkit-transition: opacity 275ms linear;
  transition: opacity 275ms linear;
}

.unit:hover {
  opacity: 1;
}

.unit label {
  cursor: pointer;
}

.unit input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.unit-toggle {
  cursor: pointer;
  width: 4em;
  border: 2px solid var(--clr-light);
  background: transparent;
  padding: 0;
  border-radius: 100vmax;
  margin: 0 1em;
}

.unit-toggle::after {
  content: "";
  display: block;
  background: var(--clr-accent);
  border-radius: 50%;
  height: 1rem;
  margin: 1px;
  margin-left: auto;
  width: 1rem;
}

:checked~.unit-toggle::after {
  margin-left: 3px;
}

.unit-toggle:focus {
  outline: none;
  text-decoration: none;
}

/* HOME IMAGE SLIDE */
.image-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--black-background);
  padding: var(--pad-normal);
  margin-top: var(--margin-normal);
  text-align: center;
}

.slide {
  width: 335px;
  height: 335px;
  border: solid 2px white;
  border-radius: 5px;
  z-index: 2;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: var(--clr-accent);
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: var(--clr-accent);
}

.carousel-indicators li {
  background-color: var(--clr-accent);
}

.slide-caption {
  margin-bottom: var(--margin-small);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* HOME NEWS */
.news-section {
  background: var(--black-background);
  padding: var(--pad-normal);
  margin-left: var(--pad-normal);
  height: 100%;
  max-height: 1040px;
  overflow: auto;
}

.news-container {
  display: flex;
  flex-direction: row;
  padding-bottom: var(--pad-half);
}

.news-image {
  border: solid 2px white;
  border-radius: 5px;
}

.news-desc {
  margin-left: var(--pad-half);
}

.news-link:link,
.news-link:visited,
.news-link:hover,
.news-link:active {
  text-decoration: none;
  color: white;
}

/* IMAGES */
.heart-btn {
  font-size: 2rem;
  border: none;
  background-color: transparent;
  color: var(--clr-accent);
}

.heart-btn:active {
  animation: vibrate 0.8s infinite;
}

@keyframes vibrate {
  50% {
    transform: rotate(10deg) translateX(10px);
  }

  100% {
    transform: rotate(-10deg) translateX(-10px);
  }
}

button:focus {
  outline: none;
  text-decoration: none;
}

.image-card-background {
  background: var(--black-background);
  padding-left: var(--pad-half);
  padding-right: var(--pad-half);
  padding-top: var(--pad-normal);
  padding-bottom: var(--pad-normal);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  float: left;
  margin-left: var(--pad-normal);
  margin-top: var(--pad-half);
  min-width: 280px;
  min-height: 425px;
}

.popup-box {
  width: 30%;
  position: fixed;
  bottom: -100%;
  left: 37.5%;
  transition: 850ms;
  /* z-index: 3; */
}

.popup-box.active {
  bottom: 50%;
  transition: 350ms;
  z-index: 3;
}

/* SEARCH */
.search-text-container {
  width: 90%;
  margin: 80px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.filters {
  display: flex;
  flex-direction: row;
  padding: var(--pad-normal);
}

.filter {
  width: 50%;
  margin-left: var(--margin-small);
}

.search-btn {
  width: 25%;
  margin-left: var(--margin-small);
}

.image-gallery {
  padding: 85px 0;
}

@media (max-width: 1260px) {
  .news-container {
    flex-direction: column;
  }

  .news-desc {
    margin-left: 0;
    margin-top: var(--pad-half);
  }
}

@media (max-width: 1075px) {
  .home-container {
    flex-direction: column;
  }

  .news-section {
    background: var(--white-background);
    margin-left: 0;
    max-height: none;
  }

  .image-section {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  /* HOME WEATHER */
  .unit-toggle {
    width: 3em;
    margin: 4px;
  }

  /* HOME IMAGE */
  .slide {
    width: 200px;
    height: 200px;
    border-radius: 5px;
  }

  /* SEARCH */
  .filters {
    flex-direction: column;
    align-items: center;
  }

  .filter {
    height: 40px;
    margin-bottom: var(--margin-small);
  }

  .search-btn {
    width: 50%;
  }
}

@media (max-width: 640px) {
  .filler {
    height: 53px;
  }

  .header {
    text-align: center;
    font-size: 19px;
  }

  /* HOME */
  .home-container {
    padding: 0;
  }

  .weather-container {
    flex-direction: column;
  }

  .weather-section,
  .image-section,
  .news-section {
    padding: var(--pad-half);
  }
}

@media (max-width: 320px) {

  /* LIKES */
  .image-card-background {
    margin-left: 0;
    float: none;
  }

  /* SEARCH */
  .filter {
    width: 100%;
  }

  .search-btn {
    width: 100%;
  }
}