html,
body {
  background: url("images/mars.jpeg") left bottom no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  color: white;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

:root {
  --clr-light: #fff;
  --clr-accent: #d06d6d;
  --pad-normal: 30px;
  --margin-normal: 2%;
  --white-background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  --black-background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

p {
  margin: 0;
}

.weather-section {
  background: var(--white-background);
  width: 45%;
  padding: var(--pad-normal);
  margin: var(--margin-normal);
}

.image-section {
  background: var(--black-background);
  width: 45%;
  padding: var(--pad-normal);
  margin: var(--margin-normal);
}

.news-section {
  position: absolute;
  background: var(--black-background);
  width: 49%;
  height: 94%;
  padding: var(--pad-normal);
  margin: var(--margin-normal);
  top: 0;
  left: 47%;
  overflow: auto;
}

.likedImages-section {
  width: 100%;
  float: left;
}

.section-title {
  color: var(--clr-accent);
  font-weight: 500;
  font-size: 21px;
  padding-bottom: var(--pad-normal);
}

.divider {
  width: 5px;
  margin-left: var(--pad-normal);
  margin-right: var(--pad-normal);
  background-color: var(--clr-accent);
}

.openModalBtn {
  border: none;
  background-color: transparent;
}

.closeModalBtn {
  background-color: var(--clr-accent);
  margin: 10px;
  border-radius: 10px;
  margin-left: 45%;
}

.blackBtn {
  background-color: black;
  width: 150px;
  border: solid 2px white;
  color: white;
  margin: 1.5%;
  border-radius: 10px;
}

.heartBtn {
  border: none;
  background-color: transparent;
  color: var(--clr-accent);
  z-index: 1;
  position: relative;
  animation: fave-heart 1s steps(28);
}

.heart {
  stroke: white;
  stroke-width: 2;
}
button:focus {
  outline: none;
  text-decoration: none;
}

.unit {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  place-self: end;
  color: var(--clr-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.7;
  -webkit-transition: opacity 275ms linear;
  transition: opacity 275ms linear;
}

.unit:hover {
  opacity: 1;
}

.unit label {
  cursor: pointer;
}

.unit input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.unit-toggle {
  cursor: pointer;
  width: 4em;
  border: 2px solid var(--clr-light);
  background: transparent;
  padding: 0;
  border-radius: 100vmax;
  margin: 0 1em;
}

.unit-toggle::after {
  content: "";
  display: block;
  background: var(--clr-accent);
  border-radius: 50%;
  height: 1rem;
  margin: 1px;
  margin-left: auto;
  width: 1rem;
}

:checked ~ .unit-toggle::after {
  margin-left: 3px;
}

.unit-toggle:focus {
  outline: none;
  text-decoration: none;
}

.slide {
  width: 335px;
  height: 335px;
  border: solid 2px white;
  border-radius: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: var(--clr-accent);
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: var(--clr-accent);
}
.carousel-indicators li {
  background-color: var(--clr-accent);
}

.news-images {
  margin-bottom: var(--pad-normal);
  margin-right: var(--pad-normal);
  border: solid 2px white;
  border-radius: 5px;
  width: 250px;
  height: 160px;
}

.news-images:hover {
  border: solid 2px var(--clr-accent);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-accent);
  border-radius: 10px;
}

.likedImageBackground {
  background: var(--black-background);
  padding: var(--pad-normal);
  width: 360px;
  height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 1%;
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
  body {
    font-size: 14px;
    overflow: auto;
  }

  .unit {
    position: relative;
    left: 6%;
  }

  .unit-toggle {
    width: 3em;
    border: 1px solid var(--clr-light);
    margin: 4px;
  }

  .unit-toggle::after {
    background: white;
  }

  .label {
    font-size: 13px;
    margin: 0;
    padding: 0;
  }

  .weather-section {
    width: 100%;
    margin: 0;
  }

  .weather-container {
    flex-direction: column;
  }

  .section-title {
    width: 50%;
  }

  /* IMAGES */
  .image-section {
    width: 100%;
    margin: 0;
  }

  .image-title {
    text-align: center;
  }

  .slide {
    width: 270px;
    height: 270px;
    border-radius: 5px;
  }

  /* NEWS */
  .news-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    left: 0;
    margin: 0;
    width: 100%;
    background: var(--white-background);
  }

  .news-container {
    display: flex;
    flex-direction: column !important;
  }
  .news-images {
    width: 240px;
    height: 150px;
    margin-bottom: var(--margin-normal);
    margin-top: var(--pad-normal);
  }

  /* LIKES */
  .likedImageBackground {
    height: 440px;
  }
}

@media (max-width: 1450px) {
  body {
    overflow: auto;
  }
  .weather-section {
    width: 100%;
    margin: 0;
  }
  .image-section {
    position: relative;
    width: 100%;
    margin: 0;
  }
  .news-section {
    background: var(--white-background);
    position: relative;
    width: 100%;
    margin: 0;
    left: 0;
  }
}
