html,
body {
  background: url("images/mars.jpeg") left bottom no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: black;
  font-family: "Montserrat", sans-serif;
}

:root {
  --fw-light: 300;
  --fw-normal: 400;
  --fw-semi: 500;
  --fw-bold: 700;
  --fs-h1: 1.3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 3.25rem;
  --fs-body: 1rem;
  --fs-xl: 4.5rem;
  --clr-light: #fff;
  --clr-gray: #989898;
  --clr-dark: #444;
  --clr-accent: #d06d6d;
  --clr-accent-dark: #613131;
  --bk-opacity: 50%;
}

.weather-section {
  background-color: var(--clr-light);
  height: 30%;
  width: 45%;
  opacity: var(--bk-opacity);
  padding: 30px;
  position: absolute;
  left: 5%;
  top: 5%;
}

.title {
  color: var(--clr-accent);
  font-weight: var(--fw-semi);
  font-size: var(--fs-h1);
}

.sol {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
}

.earth-date {
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
}
/* .horizontal-divider{
 height
}

.vertical-divider{

} */
/* 


#images-container {
  display: flex;
  flex-direction: row;
}

#other-imgs-container {
  display: flex;
  flex-direction: row;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fetched-img {
  border-radius: 8px;
  width: 25%;
} */
